* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --red: #d70049;
  --blue: #032656;
  --lblue: #50759f;
  --pink: #da0b4e;
  --lpink: #de2460;
  --black: #2d3954;
  --green: #00ba74;
  --lgray: #b2afad;
  --gray: #75767a;
  --dblue: #291b4f;
  --yellow: #ffca08;
}
.polloftheday_background {
  max-height: 300px;
  overflow-y: scroll;
}
.polloftheday_background p {
  margin-left: 5px;
}
.color {
  color: var(--black);
}
.tranding_topics_button {
  align-items: center;
  text-align: center;
  padding: 10px 15px;
  background-color: var(--green);
  color: #fff;
  border: 1px solid var(--green);
  border-radius: 1rem;
  margin-top: 10px;
}

.container_heading {
  background-color: #f4f5f7;
  padding-bottom: 1rem;
}
.container_heading p {
  text-align: center;
  font-size: small;
  color: var(--black);
}
.container_heading h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.container_heading h2::after {
  content: "";
  display: block;
}
.container_heading h2 span {
  color: var(--yellow);
  font-family: "Playfair Display", serif;
}
.consultancy h1 {
  font-family: "Playfair Display", serif;
  color: var(--pink);
}
.consultancy p {
  color: var(--black);
}

.consultancy a {
  color: var(--lpink);
  border: 1px solid var(--lpink);
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}
.consultancy a:hover {
  background-color: var(--pink);
  color: #fff;
  border: 1px solid var(--pink);
  border-radius: 5px;
  padding: 10px 15px;
}
