* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --red: #d70049;
  --blue: #032656;
  --lblue: #50759f;
  --pink: #da0b4e;
  --lpink: #de2460;
  --black: #2d3954;
  --green: #00ba74;
  --lgray: #b2afad;
  --gray: #75767a;
  --dblue: #291b4f;
  --yellow: #ffca08;
}
.trips {
  background-color: var(--yellow);
  color: #fff;
  height: fit-content;
}
.trips_content {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-right: 1px solid #fff;
}
.trips_content_last {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.trips_content_last h5 {
  font-size: 16px;
  margin-top: 1rem;
}
.trips_content_last p {
  font-size: 14px;
}
.trips_content_last .Avtar_icone {
  background-color: var(--lgray);
  font-weight: 700;
  padding: 10px;
  border-radius: 50%;
  font-size: 3rem;
}
.trips_content h5 {
  font-size: 16px;
  margin-top: 1rem;
}
.trips_content p {
  font-size: 14px;
}
.trips_content .Avtar_icone {
  background-color: var(--lgray);
  font-weight: 700;
  padding: 10px;
  border-radius: 50%;
  font-size: 3rem;
}
